.pod-info-page {
  display: flex;
  flex-direction: row;
  margin: 7rem;
  justify-content:space-around;
}

.info-left-card {
  margin: 20px;
}

.info-left-card-img {
  width: 300px;
  height: auto;
  padding-top: 10px;
}

.info-left-card-title {
  padding-top: 10px;

}

.info-left-card-pub {
  padding-top: 10px;
  padding-bottom: 10px;
}



.info-podlist {
  display: flex;
  flex-direction: column;
}

.single-play-bar {
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 1rem;
  margin: 10px;
  /* background-color: aqua; */
}

.single-play-bar:hover {
  background-color: grey;
}

.single-play-bar-title {
  font-size: 18px;
  font-weight: bold;

  /* line-height should be the same with the height of player-bar */
  line-height: 40px; 
}

.single-play-bar-start-play {
  max-height: 20px;
}

.info-left-sub {
  font-weight: bold;
  padding: 10px;
  width: 100px;
  /* margin-left: -10px; */
  text-align: center;

}

.not_sub {
  background-color: #ec4348;
}

.subed {
  background-color: #201E2C;
}

.not_sub:hover {
  background-color: #f3585e;
  cursor: pointer;
}

.subed:hover {
  background-color: gray;
  cursor: pointer;
}

@media (max-width: 768px) {
  .pod-info-page {
    flex-direction: column;
    /* margin-top: 10px; 
    margin-bottom: 10px; */
    margin: 1rem;
    margin-bottom: 8rem;
  }

  .info-left-card {
    text-align: center;
  }

  .single-play-bar {
    border: white;
    border-width: 2px;
    height: 40px;
  }

  .single-play-bar-title {
    font-size: 15px;
    font-weight: normal; 
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .info-left-sub {
    padding: 10px; 
    margin: 0px;
  }


}