.pod-info-page {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  margin: 7rem;
  justify-content:space-around;
  /* align-items: flex-start; */
}

.info-left-card {
  margin: 20px;
}

.info-left-card-img {
  width: 300px;
  height: auto;
  padding-top: 10px;
}

.info-left-card-title {
  padding-top: 10px;

}

.info-left-card-pub {
  padding-top: 10px;
  padding-bottom: 10px;
}

.info-left-sub {
  padding-top: 10px;
}


.info-podlist {
  display: flex;
  flex-direction: column;
}

.single-play-bar {
  padding: 10px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.single-play-bar:hover {
  background-color: grey;
}

.single-play-bar-title {
  font-size: 18px;
  font-weight: bold;
}

.single-play-bar-start-play {
  max-height: 20px;
}

.info-left-sub {
  font-weight: bold;
  background-color: #2C293A;
  padding: 10px;
  width: 180px;
  margin-left: -10px;
}

.info-left-sub:hover {
  background-color: gray;
  cursor: pointer;
}