@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.logoTxt {
    display: inline;
    font-size: 8vh;
    font-family: 'Caveat', cursive;
    margin-left: 5vh;
}

.loginBtn {
    display: inline;
    max-height: 5.4vh;
    margin-right: 5vh;
    margin-top: 5vh;
    border-radius: 3px;
}

.header-navigator {
    display: flex;
}

.navigator-card {
    font-size: 4vh;
    margin: 4.5vh;
    cursor: pointer;
}

.App-header {
    background-color: #2C293A;
    /* min-height: 9vh; */
    height: 12vh;
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.active-tab {
    color: #E26B6B;
}

a:hover {
    color: #E26B6B;
}
