@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.App-header {
    background-color: #2C293A;
    /* min-height: 9vh; */
    height: 6rem;
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.logoTxt {
    display: inline;
    font-size: 5rem;
    font-family: 'Caveat', cursive;
    margin-left: 3rem;
}

.loginBtn {
    display: inline;
    max-height: 3rem;
    margin-right: 3rem; 
    margin-top: 1.5rem;
}

.welcome-user {
    max-height: 3rem;
    margin-right: 2rem; 
    margin-top: 2.5rem;
    font-size: 1.3rem;
}

.header-navigator {
    display: flex;
}

.navigator-card {
    font-size: 4vh;
    margin: 4.5vh;
    cursor: pointer;
}

