@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

.App-header {
    background-color: #2C293A;
    height: 5rem;
    color: white;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
}

.logoTxt {
    display: inline;
    font-size: 4rem;
    font-family: 'Caveat', cursive;
    margin-left: 3rem;
}

.loginBtn {
    display: inline;
    max-height: 3rem;
    margin-right: 3rem; 
    margin-top: 1.5rem;
}

.welcome-user {
    max-height: 3rem;
    margin-right: 2rem; 
    margin-top: 2.5rem;
    font-size: 1.3rem;
}

.header-navigator {
    display: flex;
}

.navigator-card {
    font-size: 4vh;
    margin: 1rem;
    cursor: pointer;
}




.sticky {
  position: fixed;
  top:0;
  width: 100%;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.loggin-dropdown-menu {
  display: none;
  padding: 10px;
}
.loggin-dropdown-menu:hover {
  color: red;
  background-color: black !important;
}

  .welcome-user:hover .loggin-dropdown-menu {
    display: block;
    cursor: pointer;
    animation-name: growDown;
    animation-duration: 0.25s;
    background-color: #2C293A;
}
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
.playing-title {
  display: flex;
  position: fixed;
  z-index: 999;
  font-size: 1.0rem;
  font-weight: bold;
  bottom: 10px;
  left: 10px;
  max-width: 400px;
  cursor: pointer;
}



.core-player {
  position: fixed;
  bottom: 0;
  padding-right: 17px !important;
}

/* Change the player style */

.rhap_container { 
  background-color: #2C293A !important;
  box-shadow: #fff !important;
}

.rhap_time {
  color: white !important;
}


/* Mobile  */
@media (max-width: 768px) {
  .App-header{
    height: 4rem;
  }

  .logoTxt{
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }

  .welcome-user{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
  }

  .navigator-card {
    font-size: 3vh;
    margin: 0.8rem;
  }
  .loginBtn {
    max-height: 3rem;
    margin: 0.2rem;
    max-width: 2rem;
  }

  .playing-title {
    bottom: 5.5rem; 
    background-color: #2C293A;
    max-width: 100%;
    width: 100%;
    padding: 10px;
    left: 0px;

  
  }

}