.library-page {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lib-left-sub {
  text-align: center;
}

.lib-sub-header {
  font-size: 19px;
  font-weight: bold;
  padding: 20px;
}


.lib-bm {
  text-align: center;
}

.sub-pod-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.sub-pod-bar:hover {
  background-color: gray;
  cursor: pointer;
}

.sub-pod-img {
  height: 50px;
  width: auto;
}
.sub-pod-title {
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) { 

  .library-page {
    margin-bottom: 8rem;
  }

}
