.podGallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.search-bar {
  margin-top: 2rem;
}


.card {
  max-width: 300px;
  text-align: center;
}

@media (min-width: 768px) {
  .card:hover {
    transform: scale(1.2);
    transition-duration: 0.15s;
    cursor: pointer;
  }
  
}

.outterCard {
  padding: 2rem;
  border-radius:1rem;
}

.card-image{
  max-width: 300px;
  height: auto;
  border-radius: 2rem;
}

.card-title {
  font-weight: bold;
  font-size: 1.8rem;
}

.card-pub {
  color: grey
}

.back-btn {
  padding-top: 5.5rem;
  padding-left: 2rem;
  max-height: 2rem;
  width: 7rem;
  cursor: pointer;
}

.back-btn:hover {
  color: aquamarine;
}

@media (max-width: 768px) {
  .podGallery {
    margin-bottom: 9rem;
  }
}
