.core-playing-panel {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}


.pp-left-img {
  max-width: 300px;
}


.pp-middle-desc {
  max-width: 33%;
  overflow-y: scroll;
}